<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ohgiraffers.section01.dynamic.DynamicSqlMapper">

    <!-- gte: 크거나 같음 ,gt : 크다, lte: 작거나 같음, lt: 작다 -->

    <!-- <![CDATA[문장]]> -->

    <resultMap id="menuResultMap" type="menuDTO">

        <id property="code" column="MENU_CODE"/>
        <result property="name" column="MENU_NAME"/>
        <result property="price" column="MENU_PRICE"/>
        <result property="categoryCode" column="CATEGORY_CODE"/>
        <result property="orderableStatus" column="ORDERABLE_STATUS"/>

    </resultMap>

    <select id="selectMenuByPrice" parameterType="hashmap" resultMap="menuResultMap">

        SELECT
            MENU_CODE
            , MENU_NAME
            , MENU_PRICE
            , CATEGORY_CODE
            , ORDERABLE_STATUS
        FROM
            TBL_MENU
        WHERE
            ORDERABLE_STATUS = 'Y'

        <if test="price gte 0 and price lt 10000">
            <![CDATA[
            AND MENU_PRICE < #{price}
            ]]>
        </if>

        <if test="price gt 10000 and price lte 20000">
            AND MENU_PRICE BETWEEN 10000 AND #{price}
        </if>

        <if test="price gt 20000 and price lte 30000">
            AND MENU_PRICE BETWEEN 20000 AND #{price}
        </if>

        <if test="price gt 30000">
            AND MENU_PRICE BETWEEN 30000 AND #{price}
        </if>
    </select>

    <select id="searchMenu" parameterType="com.ohgiraffers.common.SearchCriteria" resultMap="menuResultMap" >

        SELECT
            A.MENU_CODE
            , A.MENU_NAME
            , A.MENU_PRICE
            , A.CATEGORY_CODE
            , A.ORDERABLE_STATUS
        FROM
            TBL_MENU A
            <if test="condition == 'category'">
                JOIN TBL_CATEGORY B ON A.CATEGORY_CODE = B.CATEGORY_CODE
            </if>
        WHERE
            A.ORDERABLE_STATUS = 'Y'

        <if test="condition == 'category'">
            AND B.CATEGORY_NAME = #{value}
        </if>

        <if test="condition == 'menuName'">
            AND A.MENU_NAME LIKE CONCAT('%',#{value},'%')
        </if>

    </select>

    <!--
        <choose> (when/otherwise) 태그: java 에서의 switch-case
    -->
    <select id="searchMenuBySupCategory" parameterType="com.ohgiraffers.common.SearchCriteria" resultMap="menuResultMap">
        SELECT
            *
        FROM
            TBL_MENU
        WHERE
            ORDERABLE_STATUS = 'Y'
        <choose>
            <when test="value == '식사'">
                and CATEGORY_CODE in (1,4,5)
            </when>
            <when test="value = '음료'">
                and CATEGORY_CODE in (8,9,10)
            </when>
            <otherwise>
                and CATEGORY_CODE in (3)
            </otherwise>
        </choose>
        ORDER BY MENU_CODE
    </select>


    <!--
        <foreach>
            1. collection : 반복을 수행할 대상
            2. item : 반복 수행할 때마다 꺼내올 값을 담아둘 변수
            3. open : 맨 앞에 위치
            4. separator : 반복이 수행될때 꺼내온 item 사이에 들어갈 문자.
            5. close : 맨 뒤에 위치
    -->

    <select id="searchMenuByRandomCode" parameterType="hashmap" resultMap="menuResultMap">

        SELECT
            *
        FROM
            TBL_MENU
        WHERE
            ORDERABLE_STATUS = 'Y'
        AND
            MENU_CODE IN
            <foreach collection="randomCodeList" item="menuCode" open="(" close=")" separator=",">
                #{menuCode}
            </foreach>

    </select>

    <select id="searchMenuByCodeOrSearchAll" parameterType="Search" resultMap="menuResultMap">
        SELECT
            *
        FROM
            TBL_MENU
        <if test="condition != null and condition eq 'menuCode' ">
            <where>
                MENU_CODE = #{value}
            </where>
        </if>
    </select>

    <select id="searchMenuNameOrCategory" parameterType="hashmap" resultMap="menuResultMap">

        SELECT
            *
        FROM
            TBL_MENU
        <!--아래 코드는 카테고리로만 조회할 때 문제 발생-->
<!--        <if test="nameValue != null">-->
<!--            WHERE MENU_NAME LIKE CONCAT('%', #{nameValue},'%')-->
<!--        </if>-->
<!--        <if test="categoryValue != null">-->
<!--            AND CATEGORY_CODE = #{categoryValue]-->
<!--        </if>-->

        <!-- 해결 방안 : 1. <where> 사용 -->
        <!--
            조건에 만족되지 않는 if는 무시하고 만족되는 if 내문 조건문만을 실행한다.
            단, and 나 or과 같은것으로 조건문이 시작될 시 자동으로 and 또는 or을 제거한 조건문이 실행된다.
        -->
<!--        <where>-->
<!--             <if test="nameValue != null">-->
<!--                 MENU_NAME LIKE CONCAT('%', #{nameValue},'%')-->
<!--             </if>-->
<!--            <if test="categoryValue != null">-->
<!--                AND CATEGORY_CODE = #{categoryValue}-->
<!--            </if>-->
<!--        </where>-->

        <!-- 해결 방안 : 2. <trim> 사용 -->
        <!--
            where 태그의 상위 버전
            and 나 or 로 시작하지 않는것도 가능

            prefix : 가장 앞에 붙여줄 내용
            prefixOverrides : 가장 앞 속성에 해당하는 뮨자 삭제
            suffix : 가장 뒤에 붙여주는 내용
            suffixOverrides :  가장 뒤 속성에 해당하는 값 삭제
        -->

        <trim prefix="WHERE" prefixOverrides="AND | OR">
            <if test="nameValue != null">
                MENU_NAME LIKE CONCAT('%', #{nameValue},'%')
            </if>
            <if test="categoryValue != null">
                AND CATEGORY_CODE = #{categoryValue}
            </if>
        </trim>

    </select>

    <update id="modifyMenu" parameterType="hashmap">

<!--        UPDATE-->
<!--            TBL_MENU-->
<!--        SET-->
<!--            -->
<!--            MENU_NAME = #{name},-->
<!--            CATEGORY_CODE = #{categoryCode},-->
<!--            ORDERABLE_STATUS = #{orderableStatus}-->
<!--        WHERE-->
<!--            MENU_CODE = #{code}-->

        <!--일부만 바꾸고 싶다면?-->

        UPDATE
            TBL_MENU
<!--        <set>-->
<!--            <if test="name != null and name != ''">-->
<!--                MENU_NAME = #{name}-->
<!--            </if>-->
<!--            <if test="categoryCode != null and categoryCode gt 0">-->
<!--                ,CATEGORY_CODE = #{categoryCode}-->
<!--            </if>-->
<!--            <if test="orderableStatus != null and orderableStatus != ''">-->
<!--                ,ORDERABLE_STATUS = #{orderableStatus}-->
<!--            </if>-->
<!--        </set>-->

        <trim prefix="SET" prefixOverrides="," >
            <if test="name != null and name != ''">
                MENU_NAME = #{name}
            </if>
            <if test="categoryCode != null and categoryCode gt 0">
                , CATEGORY_CODE = #{categoryCode}
            </if>
            <if test="orderableStatus != null and orderableStatus != ''">
                , ORDERABLE_STATUS = #{orderableStatus}
            </if>
        </trim>

        WHERE
            MENU_CODE = #{code}
    </update>

</mapper>